# Fichiers de données (trop gros pour Git)
*.obo
*.goa
*.gaf

# Caches Python et Environnements virtuels
__pycache__/
*.pyc
.venv/
venv/
.env

#fichier latex
*.bbl
*.synctex.gz

# Fichiers systèmes
.DS_Store
